MODEL_PATH=./models/yolov8_fish.pt
SEGMENTATION_MODEL_PATH=./models/yolov8_fish_seg.pt
CLASSIFICATION_MODEL_PATH=./models/fish_freshness_cls.pt
CONFIDENCE_THRESHOLD=0.25
SEGMENTATION_CONFIDENCE_THRESHOLD=0.25
CLASSIFICATION_CONFIDENCE_THRESHOLD=0.5
BLUR_THRESHOLD=100
CENTER_MARGIN=0.2
